Facturacion_4.0/Connected Services/Edicom/CFDi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:impl="http://cfdi.service.ediwinws.edicom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://cfdi.service.ediwinws.edicom.com" targetNamespace="http://cfdi.service.ediwinws.edicom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://cfdi.service.ediwinws.edicom.com">
      <xsd:element name="getTimbreCfdi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimbreCfdiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTimbreCfdiReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CFDiException">
        <xsd:sequence>
          <xsd:element name="cod" type="xsd:int" />
          <xsd:element name="text" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="fault" type="intf:CFDiException" />
      <xsd:element name="getTimbreCfdiTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimbreCfdiTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTimbreCfdiTestReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiTestReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiRetencionesSigned">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="sign" type="xsd:base64Binary" />
            <xsd:element name="test" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiRetencionesSignedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelaCFDiRetencionesSignedReturn" type="intf:CancelaResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CancelaResponse">
        <xsd:sequence>
          <xsd:element name="ack" nillable="true" type="xsd:string" />
          <xsd:element name="text" nillable="true" type="xsd:string" />
          <xsd:element name="uuids" nillable="true" type="intf:ArrayOf_xsd_string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getCfdiRetencionesTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiRetencionesTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiRetencionesTestReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimbreCfdiRetenciones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimbreCfdiRetencionesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTimbreCfdiRetencionesReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimbreCfdiRetencionesTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimbreCfdiRetencionesTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTimbreCfdiRetencionesTestReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiRetenciones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="rfc" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="uuid" type="xsd:string" />
            <xsd:element name="pfx" type="xsd:base64Binary" />
            <xsd:element name="pfxPassword" type="xsd:string" />
            <xsd:element name="motivo" type="xsd:string" />
            <xsd:element name="sustitucion" type="xsd:string" />
            <xsd:element name="test" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiRetencionesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelaCFDiRetencionesReturn" type="intf:CancelaResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUUIDTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUUIDTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getUUIDTestReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiFromUUID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="rfc" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="uuid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiFromUUIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiFromUUIDReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiAck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="uuid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiAckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiAckReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiExt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiExtResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiExtReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiExtTest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiExtTestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiExtTestReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportCfdi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="rfc" type="xsd:string" />
            <xsd:element name="iniDate" type="xsd:dateTime" />
            <xsd:element name="endDate" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportCfdiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exportCfdiReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCFDiStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="rfcE" type="xsd:string" />
            <xsd:element name="rfcR" type="xsd:string" />
            <xsd:element name="uuid" type="xsd:string" />
            <xsd:element name="total" type="xsd:double" />
            <xsd:element name="test" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCFDiStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCFDiStatusReturn" type="intf:CancelQueryData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CancelQueryData">
        <xsd:sequence>
          <xsd:element name="cancelStatus" nillable="true" type="xsd:string" />
          <xsd:element name="isCancelable" nillable="true" type="xsd:string" />
          <xsd:element name="status" nillable="true" type="xsd:string" />
          <xsd:element name="statusCode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelaCFDi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="rfc" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="uuid" type="xsd:string" />
            <xsd:element name="pfx" type="xsd:base64Binary" />
            <xsd:element name="pfxPassword" type="xsd:string" />
            <xsd:element name="motivo" type="xsd:string" />
            <xsd:element name="sustitucion" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelaCFDiReturn" type="intf:CancelaResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiSigned">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="sign" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelaCFDiSignedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelaCFDiSignedReturn" type="intf:CancelaResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelCFDiAsync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="rfcE" type="xsd:string" />
            <xsd:element name="rfcR" type="xsd:string" />
            <xsd:element name="uuid" type="xsd:string" />
            <xsd:element name="total" type="xsd:double" />
            <xsd:element name="pfx" type="xsd:base64Binary" />
            <xsd:element name="pfxPassword" type="xsd:string" />
            <xsd:element name="motivo" type="xsd:string" />
            <xsd:element name="sustitucion" type="xsd:string" />
            <xsd:element name="test" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelCFDiAsyncResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelCFDiAsyncReturn" type="intf:CancelData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CancelData">
        <xsd:sequence>
          <xsd:element name="ack" nillable="true" type="xsd:string" />
          <xsd:element name="cancelQueryData" nillable="true" type="intf:CancelQueryData" />
          <xsd:element name="rfcE" nillable="true" type="xsd:string" />
          <xsd:element name="status" nillable="true" type="xsd:string" />
          <xsd:element name="statusCode" nillable="true" type="xsd:string" />
          <xsd:element name="uuid" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelCFDiSignedAsync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="sign" type="xsd:base64Binary" />
            <xsd:element name="rfcE" type="xsd:string" />
            <xsd:element name="rfcR" type="xsd:string" />
            <xsd:element name="uuid" type="xsd:string" />
            <xsd:element name="total" type="xsd:double" />
            <xsd:element name="test" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelCFDiSignedAsyncResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cancelCFDiSignedAsyncReturn" type="intf:CancelData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiRetenciones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiRetencionesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiRetencionesReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCfdiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getCfdiReturn" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUUID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="file" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUUIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getUUIDReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changePassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="newPassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changePasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="changePasswordReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTimbreCfdiTestResponse">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiTestResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiExtRequest">
    <wsdl:part name="parameters" element="intf:getCfdiExt" />
  </wsdl:message>
  <wsdl:message name="getCFDiStatusResponse">
    <wsdl:part name="parameters" element="intf:getCFDiStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getUUIDTestResponse">
    <wsdl:part name="parameters" element="intf:getUUIDTestResponse" />
  </wsdl:message>
  <wsdl:message name="cancelCFDiSignedAsyncRequest">
    <wsdl:part name="parameters" element="intf:cancelCFDiSignedAsync" />
  </wsdl:message>
  <wsdl:message name="CFDiException">
    <wsdl:part name="fault" element="intf:fault" />
  </wsdl:message>
  <wsdl:message name="getCFDiStatusRequest">
    <wsdl:part name="parameters" element="intf:getCFDiStatus" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiResponse">
    <wsdl:part name="parameters" element="intf:cancelaCFDiResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiTestResponse">
    <wsdl:part name="parameters" element="intf:getCfdiTestResponse" />
  </wsdl:message>
  <wsdl:message name="exportCfdiRequest">
    <wsdl:part name="parameters" element="intf:exportCfdi" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiRetencionesResponse">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiRetencionesResponse" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiRetencionesResponse">
    <wsdl:part name="parameters" element="intf:cancelaCFDiRetencionesResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiFromUUIDResponse">
    <wsdl:part name="parameters" element="intf:getCfdiFromUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiExtResponse">
    <wsdl:part name="parameters" element="intf:getCfdiExtResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordRequest">
    <wsdl:part name="parameters" element="intf:changePassword" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiSignedResponse">
    <wsdl:part name="parameters" element="intf:cancelaCFDiSignedResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiExtTestRequest">
    <wsdl:part name="parameters" element="intf:getCfdiExtTest" />
  </wsdl:message>
  <wsdl:message name="getCfdiRetencionesTestResponse">
    <wsdl:part name="parameters" element="intf:getCfdiRetencionesTestResponse" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiRetencionesTestRequest">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiRetencionesTest" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiRetencionesTestResponse">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiRetencionesTestResponse" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiRequest">
    <wsdl:part name="parameters" element="intf:cancelaCFDi" />
  </wsdl:message>
  <wsdl:message name="getCfdiExtTestResponse">
    <wsdl:part name="parameters" element="intf:getCfdiExtTestResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiRetencionesTestRequest">
    <wsdl:part name="parameters" element="intf:getCfdiRetencionesTest" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="parameters" element="intf:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiAckRequest">
    <wsdl:part name="parameters" element="intf:getCfdiAck" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiResponse">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiResponse" />
  </wsdl:message>
  <wsdl:message name="cancelCFDiAsyncResponse">
    <wsdl:part name="parameters" element="intf:cancelCFDiAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiRetencionesResponse">
    <wsdl:part name="parameters" element="intf:getCfdiRetencionesResponse" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiTestRequest">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiTest" />
  </wsdl:message>
  <wsdl:message name="getCfdiRequest">
    <wsdl:part name="parameters" element="intf:getCfdi" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiRetencionesSignedResponse">
    <wsdl:part name="parameters" element="intf:cancelaCFDiRetencionesSignedResponse" />
  </wsdl:message>
  <wsdl:message name="cancelCFDiSignedAsyncResponse">
    <wsdl:part name="parameters" element="intf:cancelCFDiSignedAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiRetencionesRequest">
    <wsdl:part name="parameters" element="intf:cancelaCFDiRetenciones" />
  </wsdl:message>
  <wsdl:message name="getUUIDResponse">
    <wsdl:part name="parameters" element="intf:getUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiRetencionesSignedRequest">
    <wsdl:part name="parameters" element="intf:cancelaCFDiRetencionesSigned" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiRequest">
    <wsdl:part name="parameters" element="intf:getTimbreCfdi" />
  </wsdl:message>
  <wsdl:message name="getCfdiTestRequest">
    <wsdl:part name="parameters" element="intf:getCfdiTest" />
  </wsdl:message>
  <wsdl:message name="exportCfdiResponse">
    <wsdl:part name="parameters" element="intf:exportCfdiResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiResponse">
    <wsdl:part name="parameters" element="intf:getCfdiResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiFromUUIDRequest">
    <wsdl:part name="parameters" element="intf:getCfdiFromUUID" />
  </wsdl:message>
  <wsdl:message name="cancelaCFDiSignedRequest">
    <wsdl:part name="parameters" element="intf:cancelaCFDiSigned" />
  </wsdl:message>
  <wsdl:message name="getTimbreCfdiRetencionesRequest">
    <wsdl:part name="parameters" element="intf:getTimbreCfdiRetenciones" />
  </wsdl:message>
  <wsdl:message name="getUUIDRequest">
    <wsdl:part name="parameters" element="intf:getUUID" />
  </wsdl:message>
  <wsdl:message name="getCfdiAckResponse">
    <wsdl:part name="parameters" element="intf:getCfdiAckResponse" />
  </wsdl:message>
  <wsdl:message name="getCfdiRetencionesRequest">
    <wsdl:part name="parameters" element="intf:getCfdiRetenciones" />
  </wsdl:message>
  <wsdl:message name="cancelCFDiAsyncRequest">
    <wsdl:part name="parameters" element="intf:cancelCFDiAsync" />
  </wsdl:message>
  <wsdl:message name="getUUIDTestRequest">
    <wsdl:part name="parameters" element="intf:getUUIDTest" />
  </wsdl:message>
  <wsdl:portType name="CFDi">
    <wsdl:operation name="getTimbreCfdi">
      <wsdl:input name="getTimbreCfdiRequest" message="intf:getTimbreCfdiRequest" />
      <wsdl:output name="getTimbreCfdiResponse" message="intf:getTimbreCfdiResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getTimbreCfdiTest">
      <wsdl:input name="getTimbreCfdiTestRequest" message="intf:getTimbreCfdiTestRequest" />
      <wsdl:output name="getTimbreCfdiTestResponse" message="intf:getTimbreCfdiTestResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiTest">
      <wsdl:input name="getCfdiTestRequest" message="intf:getCfdiTestRequest" />
      <wsdl:output name="getCfdiTestResponse" message="intf:getCfdiTestResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDiRetencionesSigned">
      <wsdl:input name="cancelaCFDiRetencionesSignedRequest" message="intf:cancelaCFDiRetencionesSignedRequest" />
      <wsdl:output name="cancelaCFDiRetencionesSignedResponse" message="intf:cancelaCFDiRetencionesSignedResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiRetencionesTest">
      <wsdl:input name="getCfdiRetencionesTestRequest" message="intf:getCfdiRetencionesTestRequest" />
      <wsdl:output name="getCfdiRetencionesTestResponse" message="intf:getCfdiRetencionesTestResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getTimbreCfdiRetenciones">
      <wsdl:input name="getTimbreCfdiRetencionesRequest" message="intf:getTimbreCfdiRetencionesRequest" />
      <wsdl:output name="getTimbreCfdiRetencionesResponse" message="intf:getTimbreCfdiRetencionesResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getTimbreCfdiRetencionesTest">
      <wsdl:input name="getTimbreCfdiRetencionesTestRequest" message="intf:getTimbreCfdiRetencionesTestRequest" />
      <wsdl:output name="getTimbreCfdiRetencionesTestResponse" message="intf:getTimbreCfdiRetencionesTestResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDiRetenciones">
      <wsdl:input name="cancelaCFDiRetencionesRequest" message="intf:cancelaCFDiRetencionesRequest" />
      <wsdl:output name="cancelaCFDiRetencionesResponse" message="intf:cancelaCFDiRetencionesResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getUUIDTest">
      <wsdl:input name="getUUIDTestRequest" message="intf:getUUIDTestRequest" />
      <wsdl:output name="getUUIDTestResponse" message="intf:getUUIDTestResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiFromUUID">
      <wsdl:input name="getCfdiFromUUIDRequest" message="intf:getCfdiFromUUIDRequest" />
      <wsdl:output name="getCfdiFromUUIDResponse" message="intf:getCfdiFromUUIDResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiAck">
      <wsdl:input name="getCfdiAckRequest" message="intf:getCfdiAckRequest" />
      <wsdl:output name="getCfdiAckResponse" message="intf:getCfdiAckResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiExt">
      <wsdl:input name="getCfdiExtRequest" message="intf:getCfdiExtRequest" />
      <wsdl:output name="getCfdiExtResponse" message="intf:getCfdiExtResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiExtTest">
      <wsdl:input name="getCfdiExtTestRequest" message="intf:getCfdiExtTestRequest" />
      <wsdl:output name="getCfdiExtTestResponse" message="intf:getCfdiExtTestResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="exportCfdi">
      <wsdl:input name="exportCfdiRequest" message="intf:exportCfdiRequest" />
      <wsdl:output name="exportCfdiResponse" message="intf:exportCfdiResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCFDiStatus">
      <wsdl:input name="getCFDiStatusRequest" message="intf:getCFDiStatusRequest" />
      <wsdl:output name="getCFDiStatusResponse" message="intf:getCFDiStatusResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDi">
      <wsdl:input name="cancelaCFDiRequest" message="intf:cancelaCFDiRequest" />
      <wsdl:output name="cancelaCFDiResponse" message="intf:cancelaCFDiResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDiSigned">
      <wsdl:input name="cancelaCFDiSignedRequest" message="intf:cancelaCFDiSignedRequest" />
      <wsdl:output name="cancelaCFDiSignedResponse" message="intf:cancelaCFDiSignedResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="cancelCFDiAsync">
      <wsdl:input name="cancelCFDiAsyncRequest" message="intf:cancelCFDiAsyncRequest" />
      <wsdl:output name="cancelCFDiAsyncResponse" message="intf:cancelCFDiAsyncResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="cancelCFDiSignedAsync">
      <wsdl:input name="cancelCFDiSignedAsyncRequest" message="intf:cancelCFDiSignedAsyncRequest" />
      <wsdl:output name="cancelCFDiSignedAsyncResponse" message="intf:cancelCFDiSignedAsyncResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdiRetenciones">
      <wsdl:input name="getCfdiRetencionesRequest" message="intf:getCfdiRetencionesRequest" />
      <wsdl:output name="getCfdiRetencionesResponse" message="intf:getCfdiRetencionesResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getCfdi">
      <wsdl:input name="getCfdiRequest" message="intf:getCfdiRequest" />
      <wsdl:output name="getCfdiResponse" message="intf:getCfdiResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="getUUID">
      <wsdl:input name="getUUIDRequest" message="intf:getUUIDRequest" />
      <wsdl:output name="getUUIDResponse" message="intf:getUUIDResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input name="changePasswordRequest" message="intf:changePasswordRequest" />
      <wsdl:output name="changePasswordResponse" message="intf:changePasswordResponse" />
      <wsdl:fault name="CFDiException" message="intf:CFDiException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CFDiSoapBinding" type="intf:CFDi">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTimbreCfdi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTimbreCfdiRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTimbreCfdiResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTimbreCfdiTest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTimbreCfdiTestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTimbreCfdiTestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiTest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiTestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiTestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDiRetencionesSigned">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancelaCFDiRetencionesSignedRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelaCFDiRetencionesSignedResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiRetencionesTest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiRetencionesTestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiRetencionesTestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTimbreCfdiRetenciones">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTimbreCfdiRetencionesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTimbreCfdiRetencionesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTimbreCfdiRetencionesTest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTimbreCfdiRetencionesTestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTimbreCfdiRetencionesTestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDiRetenciones">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancelaCFDiRetencionesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelaCFDiRetencionesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUUIDTest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUUIDTestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUUIDTestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiFromUUID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiFromUUIDRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiFromUUIDResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiAck">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiAckRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiAckResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiExt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiExtRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiExtResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiExtTest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiExtTestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiExtTestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportCfdi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="exportCfdiRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="exportCfdiResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCFDiStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCFDiStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCFDiStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancelaCFDiRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelaCFDiResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelaCFDiSigned">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancelaCFDiSignedRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelaCFDiSignedResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelCFDiAsync">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancelCFDiAsyncRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelCFDiAsyncResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelCFDiSignedAsync">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="cancelCFDiSignedAsyncRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelCFDiSignedAsyncResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdiRetenciones">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiRetencionesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiRetencionesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCfdi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCfdiRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCfdiResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUUID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUUIDRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUUIDResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="changePasswordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CFDiException">
        <wsdlsoap:fault use="literal" name="CFDiException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFDiService">
    <wsdl:port name="CFDi" binding="intf:CFDiSoapBinding">
      <wsdlsoap:address location="https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>